body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.about {
    padding: 30px;
    text-align: center;
    min-width: 320px;

    @media (max-width: 560px) {
        padding: 15px;
    }

    &__container {
        max-width: 1200px;
        margin: 0 auto;
    }

    &__title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &__divider {
        width: 60px;
        height: 2px;
        background-color: #ccc;
        margin: 20px auto;
    }

    &__description {
        margin-bottom: 40px;
        color: #666;

        @media (max-width: 460px) {
            margin-bottom: 0px;
        }
    }
}

.services {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        ". web-img hr-left hr-left i-a-img hr-right hr-right marketing-img ."
        "web-t web-t web-t i-a-t i-a-t i-a-t marketing-t marketing-t marketing-t"
        "web-d web-d web-d i-a-d i-a-d i-a-d marketing-d marketing-d marketing-d";
    gap: 25px;


    @media (max-width: 700px) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, auto);
        grid-template-areas:
            "web-img"
            "web-t"
            "web-d"
            "i-a-img"
            "i-a-t"
            "i-a-d"
            "marketing-img"
            "marketing-t"
            "marketing-d";
        row-gap: 20px;
        column-gap: 0;
    }

    &__img-wrap {

        @media (max-width: 700px) {
            width: 106px;
            margin: auto;
        }
    }

    &__img {
        width: 100px;
        height: 100px;
        margin: 0 auto 15px;
        background-repeat: no-repeat;
        background-position: center center;
        border: 1px solid #ccc;
        border-radius: 50%;

        @media (max-width: 640px) {
            width: 70px;
            height: 70px;
        }
    }

    &__divider {
        width: 100%;
        border: 1px solid #ccc;
        align-self: center;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 15px;

        @media (max-width: 460px) {
            margin: 0;
        }
    }

    &__description {
        color: #333;
    }
}

.web-icon {
    background-image: url('./img/web.jpg');
}

.os-icon {
    background-image: url('./img/os.jpg');
}

.marketing-icon {
    background-image: url('./img/marketing.jpg');
}

.web-img {
    grid-area: web-img;
}

.hr-left {
    grid-area: hr-left;
}

.hr-right {
    grid-area: hr-right;
}

.i-a-img {
    grid-area: i-a-img;
}

.marketing-img {
    grid-area: marketing-img;
}

.web-t {
    grid-area: web-t;
}

.i-a-t {
    grid-area: i-a-t;
}

.marketing-t {
    grid-area: marketing-t;
}

.web-d {
    grid-area: web-d;
}

.i-a-d {
    grid-area: i-a-d;
}

.marketing-d {
    grid-area: marketing-d;
}